<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .title-input{
          width:300px;
          border:none;
          border-bottom: #c0c0c0 1px solid;
        }
        .file {
            position: relative;
            display: inline-block;
            border-radius: 4px;
            padding: 4px 10px;
            overflow: hidden;
            color: #1E88C7;
            text-decoration: none;
            text-indent: 0;
            line-height: 20px;
        }
        .file input {
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0;
        }
        .file:hover {
            text-decoration: none;
        }
    </style>
    <script>
        function view_link(){
            var qrcode_div = $("#qrcode-div");
            var link_div = $("#link-div");
            var link_name_div = $("#link-name-div");
            link_div.css('display','block');
            link_name_div.css('display','block');
            qrcode_div.css('display','none');
        }
        function view_qrcode(){
            var qrcode_div = $("#qrcode-div");
            var link_div = $("#link-div");
            var link_name_div = $("#link-name-div");
            $("#link_url").val("");
            $("#link_name").val("");
            link_div.css('display','none');
            link_name_div.css('display','none');
            qrcode_div.css('display','block');
        }
        function confirm(){
            $("#pic-form").submit();
        }
    </script>
</head>
<body>
<div class="container">
    <form id="pic-form" class="form-horizontal" role="form" action="generate_pic", method="post"
                          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="panel panel-default">
        <div class="panel-heading">
            <h3>地摊海报</h3>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-default" onclick="view_link();">链接海报</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-info" onclick="view_qrcode();">收款海报</button>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="form-group" style="height: 30px;">
                    <label for="title" class="col-sm-2 control-label">标题</label>
                    <div class="col-sm-10">
                        <input type="text" name="title" class="title-input">
                    </div>
                    <br/>
                </div>

                <div class="form-group" style="height: 30px;" id="link-div">
                    <label for="link" class="col-sm-2 control-label">链接</label>
                    <div class="col-sm-10">
                        <input type="text" id="link_url" name="link_url" class="title-input">
                    </div>
                    <br/>
                </div>

                <div class="form-group" style="height: 30px;" id="link-name-div">
                    <label for="link" class="col-sm-2 control-label">链接名</label>
                    <div class="col-sm-10">
                        <input type="text" id="link_name" name="link_name" class="title-input">
                    </div>
                     <br/><br/>
                </div>
                <div class="form-group" style="height: 30px; display:none;" id="qrcode-div">
                    <label for="qrcode" class="col-sm-2 control-label">收款码</label>
                    <div class="col-sm-10">
                        <input type="file" name="upload_qrcode">
                    </div>
                    <br/><br/>
                </div>
                 <div style="height:100px;">
                     <br/>
                    <label for="background" class="col-sm-2 control-label">背景图</label>
                    <div class="col-sm-10">
                        <select class="form-control" style="width:90px;height:40px;" name="background" >
                            <option style="background-color:#1E90FF;" value="#1E90FF">道奇蓝 </option>
                            <option style="background-color:#5F9EA0;" value="#5F9EA0">军服蓝 </option>
                            <option style="background-color:#708090;" value="#708090">石板灰 </option>
                            <option style="background-color:#008B8B;" value="#008B8B">暗青色 </option>
                            <option style="background-color:#2E8B57" value="#2E8B57">海洋绿 </option>
                            <option style="background-color:#006400" value="#006400">暗绿色 </option>
                            <option style="background-color:#FF4500" value="#FF4500">橙红色 </option>
                        </select>
                    </div>
                    <br/><br/>
                </div>
                <br/>
                <button type="button" class="btn btn-success" style="margin-top:50px; margin-left:1%; margin-bottom:1%;" onclick="confirm();">生成海报</button>
            </li>


        </ul>

</div>
    </form>
</div>
</body>
</html>