<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>海报生成器</title>
    <link rel="stylesheet" href="/static/css/weui.min.css">
    <link rel="stylesheet" href="/static/css/jquery-weui.min.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-weui.min.js"></script>

<script>
   function view_link(){
        var qrcode_div = $("#qrcode-div");
        var link_name_div = $("#link-name-div");
        link_name_div.css('display','block');
        qrcode_div.css('display','none');
        $("#link-haibao").css("background-color", "#009933");
        $("#shoukuanma").css("background-color", "#fff");
   }

   function view_qrcode(){
        var qrcode_div = $("#qrcode-div");
        var link_name_div = $("#link-name-div");
        link_name_div.css('display','none');
        qrcode_div.css('display','block');
        $("#link-haibao").css("background-color", "#fff");
        $("#shoukuanma").css("background-color", "#009933");
    }

    function confirm(){
        $("#pic-form").submit();
    }

   $(function() {
        $("#background").change(function(){
            $("#view-bgcolor").css("background-color",$(this).val() )
        });
    });

</script>

</head>
<body style="background-color: #FAFAFA;">

<form id="pic-form" class="form-horizontal" role="form" action="generate_pic", method="post"
                          enctype="multipart/form-data">
    {% csrf_token %}

    <div style="padding-top:8%; width:80%; letter-spacing:4px;margin: 0 auto;">

    <div class="weui-flex" >
        <div style="margin: 0 auto;"><h2 style="color:#696969;">地摊海报</h2></div>
    </div>

    <hr style="background:#F5F5F5;height: 2px;border:none; margin-top:2px;"/><br>
    <div class="weui-flex" style="padding-top:5%; text-align:center;">
        <div class="weui-flex__item"><a href="javascript:;" id="link-haibao" class="weui-btn weui-btn_default" style="width:90%;background-color:#009933;" onclick="view_link();">链接海报</a></div>
        <div class="weui-flex__item"><a href="javascript:;" id="shoukuanma" class="weui-btn weui-btn_default" style="width:90%; color:#000;" onclick="view_qrcode();">收款海报</a></div>
    </div>

    <div class="weui-flex">
        <div class="weui-flex__item">
            <div class="weui-cells weui-cells_form">

                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">标题</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" type="text" placeholder="仅限18字数" name="title"  required="required" oninvalid="setCustomValidity('请输入您的姓名');" >
                    </div>
                </div>

                <div id="link-name-div">
                    <div class="weui-cell" style="margin-top:5%;" >
                        <div class="weui-cell__hd"><label class="weui-label">链接</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" placeholder="输入链接" name="link_url"  required="required">
                        </div>
                    </div>
                </div>

                <div id="qrcode-div" style="display:none;">
                    <div class="weui-cell" style="margin-top:5%;" >
                        <div class="weui-cell__hd"><label class="weui-label">收款码</label></div>
                        <div class="weui-cell__bd">
                             <div class="weui-uploader__input-box">
                                <input id="uploaderInput" class="weui-uploader__input" type="file" accept="image/*" multiple="" name="upload_qrcode">
                             </div>
                        </div>
                    </div>
                </div>

                <div class="weui-cell" style="margin-top:5%;">
                    <div class="weui-cell__hd"><label class="weui-label">背景图</label></div>
                    <div class="weui-cell__bd">
                          <select class="form-control" style="width:120px;height:40px;" name="background" id="background">
                            <option style="background-color:#1E90FF;" value="#1E90FF">道奇蓝 </option>
                            <option style="background-color:#5F9EA0;" value="#5F9EA0">军服蓝 </option>
                            <option style="background-color:#008B8B;" value="#008B8B">暗青色 </option>
                            <option style="background-color:#2E8B57" value="#2E8B57">海洋绿 </option>
                            <option style="background-color:#006400" value="#006400">暗绿色 </option>
                            <option style="background-color:##FF3E96" value="#FF3E96">粉红色 </option>
                            <option style="background-color:#FF4500" value="#FF4500">橙红色 </option>
                            <option style="background-color:#A0522D" value="#A0522D">黄土赭 </option>
                            <option style="background-color:#8B008B" value="#8B008B">深洋红色 </option>
                            <option style="background-color:#708090;" value="#708090">石板灰 </option>
                            <option style="background-color:#2B2B2B" value="#2B2B2B">深石板灰 </option>
                            <option style="background-color:#000000" value="#000000">纯黑 </option>
                        </select>

                    </div>
                    <div id="view-bgcolor" style="width:60px;height:20px;background-color:#1E90FF;"></div>

                </div>


            </div>
         </div>
    </div>

    <div style="margin-top:20%;">
        <a href="javascript:;" class="weui-btn weui-btn_primary" style=" width:88%;" onclick="confirm();">生成海报</a>
    </div>

    </div>
</form>



</body>
</html>